* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 22px 26px -4px rgba(0, 0, 0, 0.1); }
  header .header__logo {
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .header__logo a {
      padding: 5px;
      font-size: 1.5rem;
      text-decoration: none;
      color: #de0a26;
      font-family: 'Monoton', cursive; }
  header .mostrar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: #de0a26;
    color: white;
    cursor: pointer;
    border: none; }
    header .mostrar__menu:hover {
      box-shadow: 0 0 10px rgba(52, 110, 52, 0.89); }
  header #menu {
    display: none; }
    header #menu:checked ~ .navegador__menu {
      display: block; }
  header .navegador__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d12c2c; }
    header .navegador__menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      header .navegador__menu ul li {
        list-style: none;
        border-radius: 7px; }
        header .navegador__menu ul li a {
          text-decoration: none;
          color: white;
          text-transform: uppercase; }
    header .navegador__menu .cerrar__menu {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem; }
      header .navegador__menu .cerrar__menu i {
        color: white; }

@media screen and (min-width: 900px) {
  header {
    height: 5rem; }
    header .mostrar__menu {
      display: none; }
    header .navegador__menu {
      display: flex;
      position: inherit;
      padding-left: 80px;
      background-color: white;
      width: 90%;
      height: 90%; }
      header .navegador__menu .cerrar__menu {
        display: none; }
      header .navegador__menu ul {
        flex-direction: row;
        justify-content: space-evenly; }
        header .navegador__menu ul li a {
          color: black;
          border-radius: 5px;
          padding: 5px; }
          header .navegador__menu ul li a:hover {
            background-color: rgba(209, 44, 44, 0.863);
            color: white; } }

footer {
  height: 10rem;
  background-color: #de0a26;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px; }
  footer p {
    font-size: 15px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: white; }
  footer .footer__redes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px; }
    footer .footer__redes a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      color: white;
      border-radius: 50%;
      transition: all 0.8s; }

@media screen and (min-width: 900px) {
  footer {
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; }
    footer .footer__redes a {
      width: 4rem;
      height: 4rem; }
      footer .footer__redes a:hover {
        color: #de0a26;
        background-color: white;
        transform: scale(0.8); } }

/* Index */
main .home__presentacion {
  min-height: 90vh;
  /* background: rgba(0, 0, 0, 0.411) url(../img/fon1.webp); */
  background: rgba(0, 0, 0, 0.41) url(../img/15852406.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .home__presentacion h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    animation-name: animacionh1;
    animation-duration: 2s;
    font-family: 'Monoton', cursive; }

@keyframes animacionh1 {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

main .home__bienvenido {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.55); }
  main .home__bienvenido .contenido__bienvenido {
    min-height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    main .home__bienvenido .contenido__bienvenido h3 {
      color: rgba(209, 44, 44, 0.863); }

main .home__servicios {
  width: 100%;
  height: 100%;
  background-color: rgba(209, 44, 44, 0.863); }
  main .home__servicios .servicio__titulo {
    padding: 20px;
    height: 50px; }
    main .home__servicios .servicio__titulo h3 {
      color: white;
      text-align: center; }

main .contenido__servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 40px 40px 0px 40px; }
  main .contenido__servicios .servicio {
    margin: 20px 0; }
    main .contenido__servicios .servicio h3 {
      color: white;
      font-size: 20px; }
    main .contenido__servicios .servicio p {
      color: rgba(255, 255, 255, 0.55);
      font-size: 15px; }
    main .contenido__servicios .servicio i {
      color: white;
      font-size: 50px;
      margin-bottom: 20px; }

@media screen and (min-width: 900px) {
  main .home__servicios .contenido__servicios {
    flex-direction: row;
    padding: 50px 50px 50px 50px; }
    main .home__servicios .contenido__servicios .servicio {
      margin: 0px 10px; }
  main .carousel, main .carousel-inner > .carousel-item {
    height: 500px; } }

/* nosotros */
main .nosotros__nosotros {
  margin-top: 5px;
  padding: 0 50px;
  text-transform: uppercase;
  text-align: center; }
  main .nosotros__nosotros h3 {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 0.5rem solid #de0a26; }

main .nosotros__uno {
  width: 80%;
  margin: 1rem auto;
  align-items: center;
  border-radius: 5px; }
  main .nosotros__uno .nosotros__texto {
    padding: 2rem; }
    main .nosotros__uno .nosotros__texto p {
      padding-top: 1rem;
      text-align: justify; }
    main .nosotros__uno .nosotros__texto strong {
      font-size: 2rem; }
  main .nosotros__uno .nosotros__imagenes {
    padding: 2rem; }
    main .nosotros__uno .nosotros__imagenes img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px; }

@media screen and (min-width: 900px) {
  .nosotros__uno {
    display: flex;
    flex-direction: row;
    height: 500px; }
    .nosotros__uno .nosotros__texto {
      width: 50%; }
      .nosotros__uno .nosotros__texto p {
        font-size: 15px; }
    .nosotros__uno .nosotros__imagenes {
      width: 50%;
      height: 500px; } }

/* habitaciones */
.container .nosotros__nosotros {
  margin-top: 5px;
  padding: 0 50px;
  text-transform: uppercase;
  text-align: center; }
  .container .nosotros__nosotros h3 {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 0.5rem solid #de0a26; }

.container .habitacion__izquierda {
  position: relative;
  animation-name: animacionhab;
  animation-duration: 3s; }

@keyframes animacionhab {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
  .container .habitacion__izquierda .hab__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .habitacion__izquierda .hab__texto h3 {
      color: black;
      font-size: 50px; }
  .container .habitacion__izquierda .img__habitaciones {
    border-radius: 5px; }

.container .habitacion__derecha {
  position: relative;
  animation-name: animacionder;
  animation-duration: 3s; }

@keyframes animacionder {
  0% {
    right: -100%; }
  100% {
    right: 0; } }
  .container .habitacion__derecha .hab__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .container .habitacion__derecha .hab__texto h3 {
      color: black;
      font-size: 50px; }
  .container .habitacion__derecha .img__habitaciones {
    border-radius: 5px; }

/* restaurante */
main .restaurante__titulo {
  margin-top: 5px;
  padding: 0 50px;
  text-transform: uppercase;
  text-align: center; }
  main .restaurante__titulo h3 {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 0.5rem solid #de0a26; }

@media screen and (min-width: 900px) {
  main .container .contenedor2 .restaurante__texto1 {
    border-left: 2px solid  red; }
  main .container .contenedor3 .restaurante__texto2 {
    border-right: 2px solid red; } }

/* reserva */
main .reserva__formulario {
  min-height: 90vh;
  height: 100%;
  width: 100%; }
  main .reserva__formulario .titulo__reserva {
    margin-top: 5px;
    padding: 0 50px;
    text-transform: uppercase;
    text-align: center; }
    main .reserva__formulario .titulo__reserva h3 {
      font-size: 3rem;
      font-family: 'Bebas Neue', cursive;
      border-bottom: 0.5rem solid #de0a26; }
  main .reserva__formulario .formulario__reserva {
    margin: 20px 5px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center; }
    main .reserva__formulario .formulario__reserva .formu__label {
      margin: 5px;
      font-size: 0.8em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    main .reserva__formulario .formulario__reserva .formu__input {
      border: none;
      border-bottom: 2px solid #de0a26;
      border-radius: 20px;
      width: 100%;
      padding: 7px;
      margin-top: 5px; }
    main .reserva__formulario .formulario__reserva .formu__boton {
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 2vh;
      padding: 0.6vh;
      color: white;
      background-color: #de0a26;
      border-radius: 5px;
      border: none;
      text-align: center;
      justify-self: center; }

@media screen and (min-width: 770px) {
  .reserva__formulario .titulo__reserva {
    font-size: 2.5em; }
  .reserva__formulario .formulario__reserva .formu__label {
    font-size: 1em; }
  .reserva__formulario .formulario__reserva .formu__input {
    width: 400px; }
  .reserva__formulario .formulario__reserva .formu__boton {
    cursor: pointer;
    width: 5rem;
    transition: all 30s; }
    .reserva__formulario .formulario__reserva .formu__boton:hover {
      background-color: rgba(209, 44, 44, 0.863);
      color: black;
      animation: wobble;
      animation-duration: 5s; } }
