/* restaurante */

main {
    .restaurante__titulo {
        margin-top: 5px;
        padding: 0 50px;
        text-transform: uppercase;
        text-align: center;

        h3 {
            font-size: 3rem;
            font-family: 'Bebas Neue', cursive;
            border-bottom: 0.5rem solid #de0a26; 
        }
    }

}

@media screen and (min-width:900px) {
    main {
        .container{
            .contenedor2{
                .restaurante__texto1 {
                    border-left: 2px solid  red;
                }
            }
            .contenedor3{
                .restaurante__texto2 {
                    border-right: 2px solid red;
                }
            }
        }
    }
}