* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



@import "header.scss";
@import "footer.scss";
@import "index.scss";
@import "nosotros.scss";
@import "habitaciones.scss";
@import "restaurante.scss";
@import "reserva.scss";

